
/* General styling */
      body {
          font-family: 'Josefin Sans' !important;
          margin: 0;
          padding: 0;
          background-color: #ffffff;
      }
      /* Menghapus garis bawah pada link */
      a {
          text-decoration: none; /* Menghapus garis bawah */
      }
      a:hover {
          text-decoration: underline; /* Menambahkan garis bawah saat hover */
      }
      /* Menambahkan jarak (gap) antara elemen dalam bagian account-section dan info-section */
      .account-item,
      .info-item {
          margin-bottom: 10px; /* Menambahkan jarak bawah antar item */
      }
      /* Header styling */
      .header {
          background-color: #ffffff;
          padding: 10px 20px;
          position: relative;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
      }
      .header input[type="text"] {
          width: 90%;
          padding: 10px;
          border-radius: 50px;
          border: 1px solid #ccc;
          outline: none;
      }
      /* Profile picture */
      .header .keranjang-pic {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          overflow: hidden;
          width: 40px;
          height: 40px;
      }
      .header .keranjang-pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          color: #bd0100;
      }
      /* Banner */
      .banner {
          margin-top: -25px;
      }
      .banner img {
          width: 100%;
          height: auto;
          border-radius: 15px;
      }
      /* Icon section */
      .icon-section {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 30px;
          padding: 0px;
          background-color: #ffffff;
      }
      .icon-section .icon {
          text-align: center;
          flex: 1 1 calc(25% - 10px);
          margin: 0px;
          cursor: pointer;
          display: none;
      }
      .icon-section .icon img {
          width: 125px;
          height: 125px;
          object-fit: cover; /* Memastikan gambar menutupi area dan tetap dalam aspek rasio */
          position: relative; /* Set posisi relatif untuk elemen ikon */
          margin-top: -30px;
      }
      .icon-section .icon p {
          font-size: 14px; /* Ukuran font tetap 12px */
          color: #333;
          margin-top: -25px;
      }
      /* Coin balance and actions */
      .balance-section {
          background-color: #ffffff;
          margin: 10px;
          padding: 10px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      .balance-section .balance {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: 18px;
          font-weight: bold;
      }
      .balance-section .balance .rupiah {
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: bold;
      }
      .balance-section .balance .rupiah i {
          font-size: 24px;
          margin-right: 10px;
          color: #FFCC00;
      }
      .balance-section .balance .coins {
          font-size: 14px;
          color: #777;
      }
      .balance-section .actions {
          display: flex;
          gap: 10px; /* Jarak antar tombol */
          margin-top: -20px;
      }
      .balance-section .actions button {
          background-color: #bd0100; /* Warna latar belakang tombol */
          color: #ffffff; /* Warna ikon putih */
          border: none;
          padding: 7px; /* Padding untuk tombol */
          border-radius: 10px; /* Sudut melingkar */
          cursor: pointer;
          display: flex;
          flex-direction: column; /* Mengatur isi tombol secara vertikal */
          align-items: center; /* Menyelaraskan item ke tengah */
          width: 30px; /* Lebar tombol */
          height: 30px; /* Tinggi tombol otomatis berdasarkan isi */
      }
      .balance-section .actions button i {
          font-size: 16px; /* Ukuran ikon */
          color: #ffffff; /* Warna ikon putih */
          margin-bottom: 10px; /* Jarak antara ikon dan teks */
      }
      .balance-section .actions button p {
          margin: 5; /* Menghilangkan margin teks */
          font-size: 12px; /* Ukuran teks */
          color: #000000; /* Warna teks hitam */
      }
      .container {
          position: relative;
          margin-top: 6.9%;
          background: #bd0100;
          overflow: hidden;
          height: auto;
          width: 100%;
          z-index: 0;
          border-radius: 12px;
          padding-left: 5px; /* Tambahkan padding kiri */
          padding-right: 5px; /* Tambahkan padding kanan */
      }
      .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          background-color: #fff;
          border-radius: 19px;
      }
      .header-text {
          flex: 7;
      }
      .text-title {
          font-size: 14px;
          color: var(--black);
      }
      .text-description {
          font-size: 12px;
          color: var(--black);
          margin-top: 5px;
      }
      .button-24jam {
          flex: 2;
          text-align: center;
          padding: 10px 20px;
          background-color: #bd0100;
          color: white;
          border-radius: 10px;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          animation: flash 1.5s infinite;
      }
      /* Pastikan elemen ini memiliki properti overflow yang benar agar tidak terpengaruh oleh sliding */
      .item-container {
          overflow: visible; /* Atur ini agar konten tidak terpotong saat sliding */
      }
      .item-container {
          position: relative;
          margin-top: 0; /* Menghapus space ke atas */
          margin-left: auto; /* Menempatkan di tengah */
          margin-right: auto; /* Menempatkan di tengah */
          padding: 0px;
          background: white;
          overflow: hidden;
          height: auto;
          width: 90%; /* Mengubah lebar menjadi 90% */
          z-index: 0;
          border-radius: 19px;
      }
      .separator {
          clear: both;
      }
      .w3-animate-left {
          overflow: auto;
          height: auto;
          margin-bottom: 10px;
      }
      .product-terbaru {
          background: none;
          height: 0%;
          overflow: hidden;
          width: 550%;
          margin-bottom: 10px;
      }
      @keyframes flash {
          0% { opacity: 1; }
          50% { opacity: 0.5; }
          100% { opacity: 1; }
      }
      /* Additional styles for nearby items */
      .item-nearby-row { 
          float: left;  
          border-radius: 9px; 
          background: #bd0100; 
          width: 0%; 
          height: auto; 
          margin-left: 0.5% !important; 
          margin-right: 4px !important; 
          margin-top: 0px !important; 
          margin-bottom: 0px !important; 
          justify-content: center; 
          align-items: center;  
          display: flex; 
          flex-direction: column; 
          min-width: 50px; 
          max-width: 7.3%; 
          overflow: hidden;  
          text-decoration: none;  
          -webkit-tap-highlight-color: transparent; 
          transition: background-color 0.1s ease-in-out; 
          padding: 0px;
          z-index: 999;
      }
      .item-nearby-link {
          width: 100%; 
          text-decoration: none; 
          color: white; 
      }
      .item-nearby-image {
          width: 100% !important; 
          border-radius: 10px;
          margin: 0 auto !important; /* Menambahkan margin otomatis untuk pusat */
          display: block; /* Pastikan elemen adalah block-level untuk margin auto berfungsi */
      }
      .item-nearby-distance {
          margin-left: 10px;
          margin-top: 5px;
          color: black; /* Ubah font menjadi warna hitam */
          padding-left: 1.5em; /* Jarak kiri untuk ikon (berdasarkan panjang font) */
          width: center !important;
          white-space: nowrap;
          background: #FFCC00 !important;
          display: block;
          font-size: 13px !important; /* Tentukan ukuran font */
          border-radius: 9px;
          position: relative;
      }
      .item-nearby-distance::before {
          content: '';
          position: absolute;
          left: 0.5em; /* Jarak sedikit dari kiri */
          top: 50%;
          transform: translateY(-50%);
          width: 1em; /* Ukuran ikon mengikuti ukuran font */
          height: 1em; /* Tinggi ikon mengikuti ukuran font */
          background-image: url('https://fonts.gstatic.com/s/i/materialicons/place/v6/24px.svg'); /* URL ikon peta */
          background-size: contain; /* Sesuaikan ukuran ikon */
          background-repeat: no-repeat;
      }
      .item-nearby-title {
          white-space: nowrap;
          font-weight: 450;
          margin-top: 5px; 
          margin-left: 5px; 
          display: block;
          font-size: 90px;
          color: White;
      }
      .item-nearby-status {
          margin-bottom: 5px; 
          margin-left: 5px;  
          color: white; 
          font-weight: bold;
          font-size: 13px !important; 
      }
      .item-nearby-status-note {
          margin-top: -60%; 
          float: right;
          margin-right: 5px; 
          margin-left: 0%;
          border-radius: 5px; 
          opacity: 100%;
          height: auto; 
          width: 100%;
          background: rgb(146, 151, 179, 0.33);
          backdrop-filter: blur(20px);
          color: white;
          font-size: 10px;
          display: inline-block;  
          align-items: center;
          justify-content: center; 
          overflow: hidden; 
          font-weight: 550;
          text-align: center;
          top: 0; 
      }
      .item-nearby-status-open { 
          position: absolute;
          margin-bottom: 0px;
          margin-left: 100px;
          background-color: #FFCC00; /* Warna kuning agak gelap dalam heksadesimal */
          background-size: 20%; /* Ukuran background lebih kecil */
          width: 10%;
          height: auto; /* Kecilkan tinggi background */
          text-align: center;
          margin-top: -210px;
          color: black; /* Mengubah warna font menjadi hitam */
          font-size: 12px !important;
          line-height: 20px;
          animation: blink 1s infinite; /* Menambahkan efek berkedip */
          border-radius: 8px; /* Sudut sedikit melengkung */
      }
      @keyframes blink {
          0%, 100% {
              opacity: 1;
          }
          50% {
              opacity: 0.5; /* Setengah transparan saat berkedip */
          }
      }

        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }



.jmslider-grivie {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: auto;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.jmslider-grivie__item {
  flex-basis: 88%;
  flex-shrink: 0;
  flex-grow: 1;
}

.jmslider-grivie__item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; /* Sesuaikan nilai ini untuk mengubah tingkat lengkungan */
}


@media screen and (min-width: 500px) {
  .jmslider-grivie__item {
    flex-basis: 44%;
  }
}

.jmslider-grivie {
  scrollbar-width: none;
  transform: translate3d(0, 0, 0);
  margin: 1em -20px;
  padding: 0 20px;
}

@media (hover: hover) {
  .jmslider-grivie { 
    scrollbar-width: thin;
    padding-bottom: 20px;
  }
}

@media (min-width: 500px) {
  .jmslider-grivie { 
    margin: 1em 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.jmslider-grivie__item:not(:last-child) {
  margin-right: 10px;
}

        
/* Bottom Menu Styling */
.bottom-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 0;
    position: fixed; /* Menggunakan fixed agar footer selalu terlihat */
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px; /* Dikurangi dari 25px */
    border-top-right-radius: 15px; /* Dikurangi dari 25px */
    height: 80px; /* Atur tinggi menu */
    z-index: 1000; /* Pastikan footer di atas konten lainnya */
}

.bottom-menu .menu-item {
    text-align: center;
    margin: 2px 0; /* Margin dikurangi untuk memperkecil ruang */
    position: relative; /* Tambahkan relative untuk posisi badge */
}

.bottom-menu .menu-item .badge {
    position: absolute;
    top: 1px; /* Posisi badge di atas ikon */
    right: -10px; /* Posisi badge ke kanan ikon */
    background-color: #bd0100; /* Warna latar belakang badge */
    color: white; /* Warna teks badge */
    border-radius: 10px; /* Sudut badge dibulatkan */
    padding: 2px 5px; /* Ruang dalam badge */
    font-size: 12px; /* Ukuran font badge */
}

.bottom-menu .menu-item img {
    width: 400px; /* Ukuran gambar dikurangi */
    height: 400px; /* Ukuran gambar dikurangi */
    margin-bottom: 5px; /* Hilangkan margin bawah untuk lebih kompak */
}

.bottom-menu .menu-item p {
    font-size: 14px; /* Ukuran font diperkecil */
    color: #333;
    margin: 0;
}

.profile-bottom img {
    width: 400px; /* Atur lebar sesuai kebutuhan */
    height: 400px; /* Atur tinggi sesuai kebutuhan */
    border-radius: 50%; /* Membuat gambar bulat */
    object-fit: cover; /* Menjaga proporsi gambar */
}

        
body {
    overflow: hidden; /* Mencegah scrolling saat box ditampilkan */
}

.promo-box {
    position: fixed;
    bottom: calc(81px); /* Mengkalkulasi jarak dari bawah untuk menyisakan ruang */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px; /* Batas maksimal lebar box */
    height: 70vh; /* Tinggi box 70% dari layar */
    padding: 20px;
    background-color: white;
    border-radius: 30px 30px 0 0; /* Sudut atas melengkung */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Bayangan lebih dominan ke atas */
    z-index: 1000;
    text-align: center;
    backdrop-filter: blur(5px); /* Efek blur pada konten belakang */
    border-top: 5px solid #bd0100; /* Border warna merah di bagian atas */
}

.menu-item {
    cursor: pointer;
}

.blur-background {
    display: none; /* Awalnya disembunyikan */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
-index: 500; /* Di bawah promo box */
        }
        
        /* Menghapus garis bawah pada link */
        a {
            text-decoration: none; /* Menghapus garis bawah */
        }
        
        a:hover {
            text-decoration: underline; /* Menambahkan garis bawah saat hover */
        }
        
        .menu-item a {
            text-decoration: none; /* Menghapus garis bawah untuk tautan dalam elemen menu */
        }
        
        .menu-item a:hover {
            text-decoration: underline; /* Menambahkan garis bawah saat hover untuk tautan dalam elemen menu */
        }
        
        .profile-fullscreen {
            display: none; /* Initially hidden */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 81px); /* Mengurangi tinggi agar menu bawah terlihat */
            bottom: 60px; /* Memastikan menu bawah terlihat */
            background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
            z-index: 999; /* Above the blur background */
            overflow-y: auto; /* Enable vertical scrolling */
            backdrop-filter: blur(5px); /* Optional blur effect */
        }
        
        
        /* Gaya tambahan untuk memastikan elemen dalam fullscreen tampak baik */
        .profile-container {
            height: 100%; /* Memastikan kontainer mengambil semua tinggi */
            overflow-y: auto; /* Mengizinkan scroll vertikal */
            background-color: #fff; /* Warna latar belakang untuk konten profil */
            border-radius: 0px; /* Sudut membulat */
            margin: 0; /* Menghilangkan margin agar mengisi layar sepenuhnya */
            padding: 20px; /* Padding di dalam kontainer */
        }
        
        .profile-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .profile-pic {
            width: 70px;
            height: 70px;
            border-radius: 50%; /* Round profile picture */
            object-fit: cover; /* Crop to fit */
            margin-left: 30px;
        }
        
        .profile-info {
            margin-left: -125px; /* Ruang di kiri untuk memperindah tampilan */
        }
        
        .profile-name {
            font-family: "Josefin Sans";
            font-size: 16px; /* Ukuran font untuk nama */
            font-weight: bold; /* Membuat teks nama menjadi tebal */
            color: #333; /* Warna teks untuk nama */
            margin: 0; /* Menghapus margin default */
        }
        
        .profile-phone, .profile-email {
            font-size: 14px; /* Ukuran font untuk telepon dan email */
            color: #666; /* Warna teks untuk telepon dan email */
            margin: 0px 0; /* Margin atas dan bawah untuk memberikan jarak antar elemen */
        }
        
        
        .close-btn {
            cursor: pointer; /* Cursor pointer for close button */
            font-size: 24px; /* Font size for close button */
            color: #333; /* Color for close button */
        }
        
        .account-section {
            margin-top: 50px; /* Margin above account section */
        }
        
        .account-item {
            display: flex;
            align-items: center; /* Menyelaraskan item secara vertikal di tengah */
            justify-content: flex-start; /* Mengatur konten agar rata kiri */
            padding: 10px; /* Padding untuk item akun */
            border-bottom: 1px solid #eee; /* Garis pemisah */
        }
        
        .account-icon {
            margin-right: 20px; /* Jarak antara ikon dan teks */
            color: #ff5733; /* Warna ikon merah Grivie */
        }
        
        .account-text {
            flex: 1; /* Memastikan teks menggunakan ruang yang tersisa */
            text-align: left; /* Menyelaraskan teks ke kiri */
        }
        
        .info-section {
            margin-top: 20px; /* Margin atas untuk bagian info */
        }
        
        .info-item {
            display: flex;
            align-items: center; /* Menyelaraskan ikon dan teks secara vertikal */
            padding: 10px; /* Padding untuk item info */
            border-bottom: 1px solid #eee; /* Garis pemisah */
        }
        
        .badge {
            background-color: yellow; /* Warna latar belakang badge menjadi kuning */
            color: black; /* Warna teks di badge menjadi hitam */
            border-radius: 12px; /* Sudut membulat */
            padding: 5px 10px; /* Padding di dalam badge */
            font-size: 12px; /* Ukuran font untuk badge */
            margin-left: 10px; /* Margin kiri untuk badge */
        }
        
        /* Jika Anda juga ingin menambahkan jarak antara ikon dan teks di info-item */
        .info-icon {
            margin-right: 20px; /* Jarak antara ikon info dan teks */
            color: #ff5733; /* Warna ikon merah Grivie */
        }
