body {
    font-family: "Josefin Sans" !important;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.account-item,
.info-item {
    margin-bottom: 10px;
}
.header {
    background-color: #ffffff;
    padding: 10px 20px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.header input[type="text"] {
    width: 90%;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    outline: none;
}
.header .keranjang-pic {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.header .keranjang-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: #bd0100;
}
.banner {
    margin-top: -25px;
}
.banner img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.icon-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px;
    background-color: #ffffff;
}
.icon-section .icon {
    text-align: center;
    flex: 1 1 calc(25% - 10px);
    margin: 0px;
    cursor: pointer;
    display: none;
}
.icon-section .icon img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    position: relative;
    margin-top: -30px;
}
.icon-section .icon p {
    font-size: 14px;
    color: #333;
    margin-top: -25px;
}
.balance-section {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.balance-section .balance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: bold;
}
.balance-section .balance .rupiah {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.balance-section .balance .rupiah i {
    font-size: 24px;
    margin-right: 10px;
    color: #ffcc00;
}
.balance-section .balance .coins {
    font-size: 14px;
    color: #777;
}
.balance-section .actions {
    display: flex;
    gap: 10px;
    margin-top: -20px;
}
.balance-section .actions button {
    background-color: #bd0100;
    color: #ffffff;
    border: none;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 30px;
}
.balance-section .actions button i {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}
.balance-section .actions button p {
    margin: 5;
    font-size: 12px;
    color: #000000;
}
.container {
    position: relative;
    margin-top: 6.9%;
    background: #bd0100;
    overflow: hidden;
    height: auto;
    width: 100%;
    z-index: 0;
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 19px;
}
.header-text {
    flex: 7;
}
.text-title {
    font-size: 14px;
    color: var(--black);
}
.text-description {
    font-size: 12px;
    color: var(--black);
    margin-top: 5px;
}
.button-24jam {
    flex: 2;
    text-align: center;
    padding: 10px 20px;
    background-color: #bd0100;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    animation: flash 1.5s infinite;
}
.item-container {
    overflow: visible;
}
.item-container {
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background: white;
    overflow: hidden;
    height: auto;
    width: 90%;
    z-index: 0;
    border-radius: 19px;
}
.separator {
    clear: both;
}
.w3-animate-left {
    overflow: auto;
    height: auto;
    margin-bottom: 10px;
}
.product-terbaru {
    background: none;
    height: 0%;
    overflow: hidden;
    width: 550%;
    margin-bottom: 10px;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.item-nearby-row {
    float: left;
    border-radius: 9px;
    background: #bd0100;
    width: 0%;
    height: auto;
    margin-left: 0.5% !important;
    margin-right: 4px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 50px;
    max-width: 7.3%;
    overflow: hidden;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    padding: 0px;
    z-index: 999;
}
.item-nearby-link {
    width: 100%;
    text-decoration: none;
    color: white;
}
.item-nearby-image {
    width: 100% !important;
    border-radius: 10px;
    margin: 0 auto !important;
    display: block;
}
.item-nearby-distance {
    margin-left: 10px;
    margin-top: 5px;
    color: black;
    padding-left: 1.5em;
    width: center !important;
    white-space: nowrap;
    background: #ffcc00 !important;
    display: block;
    font-size: 13px !important;
    border-radius: 9px;
    position: relative;
}
.item-nearby-distance::before {
    content: "";
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
    background-image: url("https://fonts.gstatic.com/s/i/materialicons/place/v6/24px.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.item-nearby-title {
    white-space: nowrap;
    font-weight: 450;
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    font-size: 90px;
    color: White;
}
.item-nearby-status {
    margin-bottom: 5px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 13px !important;
}
.item-nearby-status-note {
    margin-top: -60%;
    float: right;
    margin-right: 5px;
    margin-left: 0%;
    border-radius: 5px;
    opacity: 100%;
    height: auto;
    width: 100%;
    background: rgb(146, 151, 179, 0.33);
    backdrop-filter: blur(20px);
    color: white;
    font-size: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: 550;
    text-align: center;
    top: 0;
}
.item-nearby-status-open {
    position: absolute;
    margin-bottom: 0px;
    margin-left: 100px;
    background-color: #ffcc00;
    background-size: 20%;
    width: 10%;
    height: auto;
    text-align: center;
    margin-top: -210px;
    color: black;
    font-size: 12px !important;
    line-height: 20px;
    animation: blink 1s infinite;
    border-radius: 8px;
}
@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.jmslider-grivie {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.jmslider-grivie__item {
    flex-basis: 88%;
    flex-shrink: 0;
    flex-grow: 1;
}
.jmslider-grivie__item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
@media screen and (min-width: 500px) {
    .jmslider-grivie__item {
        flex-basis: 44%;
    }
}
.jmslider-grivie {
    scrollbar-width: none;
    transform: translate3d(0, 0, 0);
    margin: 1em -20px;
    padding: 0 20px;
}
@media (hover: hover) {
    .jmslider-grivie {
        scrollbar-width: thin;
        padding-bottom: 20px;
    }
}
@media (min-width: 500px) {
    .jmslider-grivie {
        margin: 1em 0;
        padding-left: 0;
        padding-right: 0;
    }
}
.jmslider-grivie__item:not(:last-child) {
    margin-right: 10px;
}



    .bottom-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        padding: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 80px;
        z-index: 1000;
    }
    .bottom-menu .menu-item {
        text-align: center;
        margin: 2px 0;
        position: relative;
    }
    .bottom-menu .menu-item .badge {
        position: absolute;
        top: 1px;
        right: -10px;
        background-color: #bd0100;
        color: white;
        border-radius: 10px;
        padding: 2px 5px;
        font-size: 12px;
    }
    .bottom-menu .menu-item img {
        width: 400px;
        height: 400px;
        margin-bottom: 5px;
    }
    .bottom-menu .menu-item p {
        font-size: 14px;
        color: #333;
        margin: 0;
    }
    .profile-bottom img {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        object-fit: cover;
    }
    .promo-box {
        height: calc(70% - 81px); /* Menyisakan 70% dari tinggi layar minus tinggi menu */
        position: fixed;
        bottom: 81px; /* Menempatkan box di atas menu */
        left: 0;
        width: 100%; /* Full width */
        background-color: white;
        border-top-left-radius: 15px; /* Sudut melengkung di kiri atas */
        border-top-right-radius: 15px; /* Sudut melengkung di kanan atas */
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        text-align: center;
        backdrop-filter: blur(5px);
        border-top: 5px solid #bd0100; /* Border merah hanya di bagian atas */
        box-sizing: border-box; /* Agar border masuk dalam ukuran box */
        overflow: hidden; /* Menyembunyikan overflow jika ada */
    }
    .profile-fullscreen {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 81px);
        bottom: 60px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
        overflow-y: auto;
        backdrop-filter: blur(5px);
    }
    .profile-container {
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        border-radius: 0px;
        margin: 0;
        padding: 20px;
    }
    .profile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile-pic {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 30px;
    }
    .profile-info {
        margin-left: -125px;
    }
    .profile-name {
        font-family: "Josefin Sans";
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin: 0;
    }
    .profile-phone,
    .profile-email {
        font-size: 14px;
        color: #666;
        margin: 0px 0;
    }
    .close-btn {
        cursor: pointer;
        font-size: 24px;
        color: #333;
    }
    .account-section {
        margin-top: 50px;
    }
    .account-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
    .account-icon {
        margin-right: 20px;
        color: #ff5733;
    }
    .account-text {
        flex: 1;
        text-align: left;
    }
    .info-section {
        margin-top: 20px;
    }
    .info-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
    .badge {
        background-color: yellow;
        color: black;
        border-radius: 12px;
        padding: 5px 10px;
        font-size: 12px;
        margin-left: 10px;
    }
    .info-icon {
        margin-right: 20px;
        color: #ff5733;
    }    





